body{
  font-family: arial; 
  
}
p {
  margin: 0px;
}

h1{
  text-align: center;
}

.row-container {
  display: flex;
}

.row-container * {
  font-size: 16px;
  color: black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.row-container *:hover{
  background-color: lightgray;
  cursor: pointer;
  
}


:is(.row-con, .row-con1) {
  border-bottom: 2px solid black;
}

.game-container {
  margin-top: 50px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-container :nth-child(2), .row-container :nth-child(3){
  border-left: 2px solid black;
}

button{
  margin-top: 20px;
  padding: 10px 15px;
  background-color:  lightgray;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.display-winner {
  text-align: center;
  margin: 0px;
  margin-top: 20px;
  width: 50px;
  height: 40px;
  
}

.player-turn, .restart {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: gray;
}

.start {
  margin-top: 20px;
}

.choose-move {
  display: none;
}




