*{
  box-sizing: border-box;
  font-family: Red Hat Text, roboto, arial;
  margin: 0;
  padding: 0;
  outline: none;
}
html, body{
  margin: 0; 
}
.position{
  display: flex;
  flex-direction:column;
  position: fixed;
  background-color: white;
}
.position-2{
  padding-top: 250px;
  width: 700px;
}
h1{
  text-align: center;
  margin-bottom: 40px;
}
button{
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
}
main{
  width: 700px;
  position: relative;
  padding-bottom: 60px;
}
section{
  display: flex;
  justify-content: center;
}

.form-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color : rgb(131, 124, 124);
  padding: 10px;
  min-width: 700px;
}
.input-search{
  padding: 10px;
  min-width: 700px;
  margin-bottom: 25px;
  border: 2px solid slateblue;
  font-size: 18px;
  padding-left: 20px;
}
.input-list{
  width: 300px;
  height: 40px;
  border: 2px solid rgb(187, 59, 59);
  font-size: 18px;
  padding-left: 20px;
}
.input-date{
  width: 150px;
  height: 40px;
  font-size: 18px;
  color: rgb(81, 138, 138);
  outline: none;
}
button[type='submit']{
  position: flex;
  justify-content: center;
  align-content: center;
  background-color: greenyellow;
  cursor: pointer; 
}
button:hover{
  background-color: rgb(106, 153, 106);
}
.todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px; 
  background-color :color-mix(in hsl shorter hue, red 10%, white 70%);
}
.todo *:not(svg){
  margin-right: 25px;
}
 input[type='checkbox'] {
  width: 40px;
  height: 40px; 
} 
.todo :nth-child(2){
  width: 250px;
  align-self: center;
  font-size: 18px;
}
.todo :nth-child(3){
  width: 150px;
  font-size: 18px;
  color: rgb(81, 138, 138);
}
.todo svg{
  height: 40px;
  color: steelblue;
  cursor: pointer;
} 
.todo svg:hover{
  color: red;
}
.plus-todo{
  cursor: pointer;
}
.display-number{
  display: flex;
  position: fixed;
  bottom: 0px;
  right: 294px;
  left: 294px;
  background-color: hsl(255, 100%, 50%);
  justify-content: center;
  color: white;
  font-size: 20px;
  padding-block: 10px;
}
.no-list{
  font-size: 40px;
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  top: 300px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  
}
.show{
  opacity: 1;
}
.todo-container{
  overflow-y: auto;
}


